.dashboard {
    margin: 20px;
    margin-top: 5rem;
    
    .welcomeText {
        font-size: 26px;
        margin-bottom: 30px;
        color: #2D2D2D;
    }

    .articles {
        width: 50%;
        height: 100vh;
        .article {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            transition: all 300ms;

            &:hover {
                background: #EEEEEE;
            }

            h4 {
                font-size: 20px;
            }
        }
    }
}